Repository vtex-apps/search-result, pull requests merged in 2018-12, with the labels that each got.

#73 Sort option changes
  CHANGELOG.md
  manifest.json
  react/components/Popup.js
  react/components/SearchResult.js
  react/components/SelectionListOrderBy.js
  react/global.css
  react/locales/pt-BR.json
  react/package.json
  react/yarn.lock
Labels: breaking-change, enhancement

#84 Support to Messages Builder
  CHANGELOG.md
  manifest.json
  messages/en-US.json
  messages/es-AR.json
  messages/pt-BR.json
  react/package.json
Labels: enhancement

#80 New mobile filter on search result
  CHANGELOG.md
  manifest.json
  messages/en-US.json
  messages/es-AR.json
  messages/pt-BR.json
  react/FilterNavigator.js
  react/__mocks__/vtex.store-components/Animation.js
  react/__mocks__/vtex.use-svg/Icon.js
  react/__tests__/FilterNavigator.test.js
  react/components/AccordionFilterContainer.js
  react/components/AccordionFilterItem.js
  react/components/FilterSidebar.js
  react/components/SearchResult.js
  react/components/SideBar.js
  react/constants/SearchHelpers.js
  react/constants/propTypes.js
  react/global.css
  react/package.json
  react/yarn.lock
Labels: breaking-change

#85 Use react virtualized
  CHANGELOG.md
  manifest.json
  react/Gallery.js
  react/components/loaders/InfiniteScrollLoaderResult.js
  react/global.css
  react/package.json
  react/yarn.lock
Labels: enhancement
